#exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(rGMAP)
export(rGMAP)
export(data_simu)
import(EMD)
import(caTools)
import(MASS)
import(Matrix)
import(mclust)
import(data.table)
importFrom(compiler, cmpfun)
